<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>E43_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{55,71}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{55,71}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>E43_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{55,73}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{55,73}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>E43_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{55,73}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{55,73}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>E43_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{55,73}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{55,73}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>E43_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,59},{57,71}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{57,71}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>E43_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,71}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{55,71}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>E43_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,59},{59,75}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{59,75}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>E43_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,59},{61,77}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{61,77}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>E43.png</string>
            <key>size</key>
            <string>{304,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:189baa2af59c294d8947ec932c266b2e$</string>
            <key>textureFileName</key>
            <string>E43.png</string>
        </dict>
    </dict>
</plist>
