<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>E44_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,89},{87,135}}</string>
                <key>offset</key>
                <string>{21,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,17},{87,135}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>E44_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,561},{89,133}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,19},{89,133}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>E44_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{93,131}}</string>
                <key>offset</key>
                <string>{21,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,21},{93,131}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>E44_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,426},{89,133}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,19},{89,133}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>E44_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{87,135}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,17},{87,135}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>E44_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{87,135}}</string>
                <key>offset</key>
                <string>{21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,17},{87,135}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>E44_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,828},{83,133}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,19},{83,133}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>E44_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,291},{89,133}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,19},{89,133}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>E44_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{93,131}}</string>
                <key>offset</key>
                <string>{25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,21},{93,131}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>E44_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,577},{57,133}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,19},{57,133}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>E44_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,436},{59,139}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,13},{59,139}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>E44_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,712},{57,139}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,13},{57,139}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>E44_magic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,696},{87,130}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,37},{87,130}}</string>
                <key>sourceSize</key>
                <string>{215,200}</string>
            </dict>
            <key>E44_magic_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{141,48}}</string>
                <key>offset</key>
                <string>{-22,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,150},{141,48}}</string>
                <key>sourceSize</key>
                <string>{215,200}</string>
            </dict>
            <key>E44_magic_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{141,48}}</string>
                <key>offset</key>
                <string>{-22,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,150},{141,48}}</string>
                <key>sourceSize</key>
                <string>{215,200}</string>
            </dict>
            <key>E44_magic_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{141,48}}</string>
                <key>offset</key>
                <string>{-22,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,150},{141,48}}</string>
                <key>sourceSize</key>
                <string>{215,200}</string>
            </dict>
            <key>E44_magic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{93,130}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,37},{93,130}}</string>
                <key>sourceSize</key>
                <string>{215,200}</string>
            </dict>
            <key>E44_magic_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{97,128}}</string>
                <key>offset</key>
                <string>{21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,39},{97,128}}</string>
                <key>sourceSize</key>
                <string>{215,200}</string>
            </dict>
            <key>E44_magic_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{85,148}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,20},{85,148}}</string>
                <key>sourceSize</key>
                <string>{215,200}</string>
            </dict>
            <key>E44_magic_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,152}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,23},{101,152}}</string>
                <key>sourceSize</key>
                <string>{215,200}</string>
            </dict>
            <key>E44_magic_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,178},{111,118}}</string>
                <key>offset</key>
                <string>{-37,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,76},{111,118}}</string>
                <key>sourceSize</key>
                <string>{215,200}</string>
            </dict>
            <key>E44_magic_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,291},{143,52}}</string>
                <key>offset</key>
                <string>{-24,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,147},{143,52}}</string>
                <key>sourceSize</key>
                <string>{215,200}</string>
            </dict>
            <key>E44_magic_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,853},{139,48}}</string>
                <key>offset</key>
                <string>{-24,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,149},{139,48}}</string>
                <key>sourceSize</key>
                <string>{215,200}</string>
            </dict>
            <key>E44_magic_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{141,48}}</string>
                <key>offset</key>
                <string>{-22,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,150},{141,48}}</string>
                <key>sourceSize</key>
                <string>{215,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>E44.png</string>
            <key>size</key>
            <string>{255,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:097b6c78ba6ebd262dbf6aa8f2e2dc7d$</string>
            <key>textureFileName</key>
            <string>E44.png</string>
        </dict>
    </dict>
</plist>
