<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>E45_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,148},{68,102}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{68,102}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,148},{70,102}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{70,102}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,74},{72,100}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{72,100}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,148},{70,102}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{70,102}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,148},{70,102}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{70,102}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,148},{68,102}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{68,102}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,80},{66,104}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{66,104}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,148},{68,102}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{68,102}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,78},{68,102}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,13},{68,102}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,148},{70,102}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{70,102}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{72,104}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{72,104}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{74,104}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{74,104}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{76,106}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,9},{76,106}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,74},{72,100}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{72,100}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,148},{70,102}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{70,102}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,148},{66,102}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{66,102}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,74},{70,52}}</string>
                <key>offset</key>
                <string>{10,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,66},{70,52}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,148},{66,72}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,45},{66,72}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,76},{68,70}}</string>
                <key>offset</key>
                <string>{13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{68,70}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{94,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{94,116}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,116}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,116}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{92,110}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{92,110}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{96,96}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{96,96}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{72,104}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,12},{72,104}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,148},{70,102}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{70,102}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{70,102}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{70,102}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{70,102}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{70,102}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,74},{70,52}}</string>
                <key>offset</key>
                <string>{10,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,66},{70,52}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{70,102}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{70,102}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{70,102}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{70,102}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{70,102}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{70,102}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,76},{70,52}}</string>
                <key>offset</key>
                <string>{10,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,66},{70,52}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{70,52}}</string>
                <key>offset</key>
                <string>{10,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,66},{70,52}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,148},{82,76}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,40},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,76},{94,70}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,46},{94,70}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,74},{88,72}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,45},{88,72}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,148},{92,72}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,45},{92,72}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_grow_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,74},{66,72}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,45},{66,72}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>E45_underGrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,242},{20,8}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,43},{20,8}}</string>
                <key>sourceSize</key>
                <string>{86,54}</string>
            </dict>
            <key>E45_underGrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,222},{36,18}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,33},{36,18}}</string>
                <key>sourceSize</key>
                <string>{86,54}</string>
            </dict>
            <key>E45_underGrow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,222},{46,28}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{46,28}}</string>
                <key>sourceSize</key>
                <string>{86,54}</string>
            </dict>
            <key>E45_underGrow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,74},{62,52}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{62,52}}</string>
                <key>sourceSize</key>
                <string>{86,54}</string>
            </dict>
            <key>E45_under_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,128},{60,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{60,50}}</string>
                <key>sourceSize</key>
                <string>{86,54}</string>
            </dict>
            <key>E45_under_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,128},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{60,50}}</string>
                <key>sourceSize</key>
                <string>{86,54}</string>
            </dict>
            <key>E45_under_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,180},{60,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{60,48}}</string>
                <key>sourceSize</key>
                <string>{86,54}</string>
            </dict>
            <key>E45_under_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,180},{60,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{60,48}}</string>
                <key>sourceSize</key>
                <string>{86,54}</string>
            </dict>
            <key>E45_under_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,128},{60,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{60,48}}</string>
                <key>sourceSize</key>
                <string>{86,54}</string>
            </dict>
            <key>E45_under_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,148},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{60,50}}</string>
                <key>sourceSize</key>
                <string>{86,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>E45.png</string>
            <key>size</key>
            <string>{1298,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f256401470a35ef24d9810a42debec3f$</string>
            <key>textureFileName</key>
            <string>E45.png</string>
        </dict>
    </dict>
</plist>
