<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>E46_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,134},{66,112}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{66,112}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>E46_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,134},{62,110}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{62,110}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>E46_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,134},{60,110}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{60,110}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>E46_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,134},{62,112}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{62,112}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>E46_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,123},{62,116}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{62,116}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>E46_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{64,114}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{64,114}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>E46_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,134},{70,111}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{70,111}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>E46_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,134},{68,111}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{68,111}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>E46_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,134},{66,111}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{66,111}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>E46_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,178},{56,105}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{56,105}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>E46_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,2},{58,107}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{58,107}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>E46_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,118},{58,109}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{58,109}}</string>
                <key>sourceSize</key>
                <string>{100,125}</string>
            </dict>
            <key>E46_explode_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,134},{56,113}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,8},{56,113}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,134},{56,113}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,8},{56,113}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,134},{56,113}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,8},{56,113}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{56,113}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,8},{56,113}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,134},{56,113}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,8},{56,113}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,134},{56,113}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,8},{56,113}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,134},{62,109}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,12},{62,109}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,134},{62,109}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,12},{62,109}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{98,119}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{98,119}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,130},{116,117}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{116,117}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{126,115}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{126,115}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,134},{56,113}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,8},{56,113}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{130,115}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{130,115}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{130,117}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{130,117}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{130,117}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{130,117}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{130,117}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{130,117}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{130,117}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{130,117}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,117}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{130,117}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,117}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{130,117}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,117}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{130,117}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,117}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{130,117}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,117}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{130,117}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,134},{56,113}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,8},{56,113}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,117}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{130,117}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,117}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{130,117}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,117}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{130,117}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,117}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{130,117}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,117}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{130,117}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,117}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{130,117}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,134},{56,113}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,8},{56,113}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,134},{64,111}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,10},{64,111}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,134},{56,113}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,8},{56,113}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,134},{56,113}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,8},{56,113}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,134},{56,113}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,8},{56,113}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>E46_explode_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,134},{56,113}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,8},{56,113}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>E46.png</string>
            <key>size</key>
            <string>{1080,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cfefda6b8048cab4af846fdd0d0c552$</string>
            <key>textureFileName</key>
            <string>E46.png</string>
        </dict>
    </dict>
</plist>
