<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>E61_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{126,174}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{126,174}}</string>
                <key>sourceSize</key>
                <string>{140,184}</string>
            </dict>
            <key>E61_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{126,174}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{126,174}}</string>
                <key>sourceSize</key>
                <string>{140,184}</string>
            </dict>
            <key>E61_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1042},{120,174}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,174}}</string>
                <key>sourceSize</key>
                <string>{140,184}</string>
            </dict>
            <key>E61_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{120,180}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{120,180}}</string>
                <key>sourceSize</key>
                <string>{140,184}</string>
            </dict>
            <key>E61_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1394},{118,174}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{118,174}}</string>
                <key>sourceSize</key>
                <string>{140,184}</string>
            </dict>
            <key>E61_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{118,174}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{118,174}}</string>
                <key>sourceSize</key>
                <string>{140,184}</string>
            </dict>
            <key>E61_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{122,176}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{122,176}}</string>
                <key>sourceSize</key>
                <string>{140,184}</string>
            </dict>
            <key>E61_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{124,174}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{124,174}}</string>
                <key>sourceSize</key>
                <string>{140,184}</string>
            </dict>
            <key>E61_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1570},{120,166}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,17},{120,166}}</string>
                <key>sourceSize</key>
                <string>{166,190}</string>
            </dict>
            <key>E61_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1738},{114,168}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,15},{114,168}}</string>
                <key>sourceSize</key>
                <string>{166,190}</string>
            </dict>
            <key>E61_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1738},{104,168}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{104,168}}</string>
                <key>sourceSize</key>
                <string>{166,190}</string>
            </dict>
            <key>E61_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,130},{104,166}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,17},{104,166}}</string>
                <key>sourceSize</key>
                <string>{166,190}</string>
            </dict>
            <key>E61_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,340},{142,156}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{142,156}}</string>
                <key>sourceSize</key>
                <string>{166,190}</string>
            </dict>
            <key>E61_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,162}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{148,162}}</string>
                <key>sourceSize</key>
                <string>{166,190}</string>
            </dict>
            <key>E61_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{140,162}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{140,162}}</string>
                <key>sourceSize</key>
                <string>{166,190}</string>
            </dict>
            <key>E61_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1908},{128,162}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,21},{128,162}}</string>
                <key>sourceSize</key>
                <string>{166,190}</string>
            </dict>
            <key>E61_magic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,836},{102,162}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{102,162}}</string>
                <key>sourceSize</key>
                <string>{140,174}</string>
            </dict>
            <key>E61_magic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,506},{102,164}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,3},{102,164}}</string>
                <key>sourceSize</key>
                <string>{140,174}</string>
            </dict>
            <key>E61_magic_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,236},{102,164}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,3},{102,164}}</string>
                <key>sourceSize</key>
                <string>{140,174}</string>
            </dict>
            <key>E61_magic_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,672},{102,162}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{102,162}}</string>
                <key>sourceSize</key>
                <string>{140,174}</string>
            </dict>
            <key>E61_magic_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1218},{104,162}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{104,162}}</string>
                <key>sourceSize</key>
                <string>{140,174}</string>
            </dict>
            <key>E61_magic_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1382},{106,160}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,7},{106,160}}</string>
                <key>sourceSize</key>
                <string>{140,174}</string>
            </dict>
            <key>E61_magic_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1908},{108,160}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,7},{108,160}}</string>
                <key>sourceSize</key>
                <string>{140,174}</string>
            </dict>
            <key>E61_magic_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1042},{104,162}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{104,162}}</string>
                <key>sourceSize</key>
                <string>{140,174}</string>
            </dict>
            <key>coop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,369},{23,23}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,32},{23,23}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,369},{23,23}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,31},{23,23}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1734},{25,25}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,31},{25,25}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1000},{25,27}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{25,27}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,340},{25,27}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{25,27}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1821},{59,85}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{59,85}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1734},{61,85}}</string>
                <key>offset</key>
                <string>{-18,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,29},{61,85}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1307},{61,87}}</string>
                <key>offset</key>
                <string>{-18,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,28},{61,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1467},{91,87}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{91,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1645},{93,87}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,29},{93,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1556},{95,87}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{95,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1370},{95,87}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,29},{95,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1218},{95,87}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{95,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1129},{95,87}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{95,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1040},{95,87}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{95,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,951},{95,87}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{95,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,862},{95,87}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{95,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,773},{95,87}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{95,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,684},{95,87}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{95,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,595},{95,87}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{95,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,498},{95,87}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,29},{95,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1633},{95,87}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{95,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>coop_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1544},{95,87}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{95,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>E61.png</string>
            <key>size</key>
            <string>{329,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bb18ee652507ed300a19ca1dbfc0d6a$</string>
            <key>textureFileName</key>
            <string>E61.png</string>
        </dict>
    </dict>
</plist>
