<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>E62_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,338},{120,164}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{120,164}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,172},{122,168}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{122,168}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{120,178}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{120,178}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,176},{120,172}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{120,172}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,342},{122,166}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{122,166}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{120,176}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{120,176}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,172},{120,168}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{120,168}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,2},{120,164}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{120,164}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{120,168}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{120,168}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,180}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{120,180}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,174},{122,170}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{122,170}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,346},{120,162}}</string>
                <key>offset</key>
                <string>{-16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{120,162}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,168},{109,164}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,30},{109,164}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>E62_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{107,166}}</string>
                <key>offset</key>
                <string>{23,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,28},{107,166}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>E62_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{109,178}}</string>
                <key>offset</key>
                <string>{28,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,16},{109,178}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>E62_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{119,168}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{119,168}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>E62_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,168},{119,162}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{119,162}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>E62_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{133,176}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{133,176}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>E62_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,360},{133,168}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,26},{133,168}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>E62_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,334},{119,162}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{119,162}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>E62_attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,176},{113,172}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,22},{113,172}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>E62_bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,246},{44,42}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{44,42}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>E62_bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,246},{52,54}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{52,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>E62_bullet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,186},{58,60}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{58,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>E62_bullet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,124},{60,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{60,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>E62_bullet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,64},{68,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{68,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>E62_bullet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,2},{68,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{68,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>E62_magic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,342},{118,166}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,29},{118,166}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_magic_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,350},{106,158}}</string>
                <key>offset</key>
                <string>{19,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,36},{106,158}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_magic_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,2},{106,162}}</string>
                <key>offset</key>
                <string>{20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,32},{106,162}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_magic_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,180},{110,174}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,20},{110,174}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_magic_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,2},{130,168}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{130,168}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_magic_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,332},{132,160}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,34},{132,160}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_magic_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,356},{132,162}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,32},{132,162}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_magic_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,182},{128,176}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{128,176}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_magic_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,172},{114,168}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{114,168}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_magic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{120,170}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{120,170}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_magic_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{124,170}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{124,170}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_magic_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{132,172}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{132,172}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_magic_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,342},{122,166}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{122,166}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_magic_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,346},{122,162}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{122,162}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_magic_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,170},{106,166}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,28},{106,166}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_magic_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,174},{108,170}}</string>
                <key>offset</key>
                <string>{19,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{108,170}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>E62_magic_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,2},{108,164}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,30},{108,164}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>E62.png</string>
            <key>size</key>
            <string>{1637,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b58b84cb63935fcc4ad1052eb8f76ff1$</string>
            <key>textureFileName</key>
            <string>E62.png</string>
        </dict>
    </dict>
</plist>
