<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>E63_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,172},{106,168}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{106,168}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>E63_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,172},{104,166}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{104,166}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>E63_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,2},{104,168}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{104,168}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>E63_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,176},{106,172}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,21},{106,172}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>E63_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,174},{104,170}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,23},{104,170}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>E63_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,172},{108,168}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{108,168}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>E63_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,172},{110,168}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{110,168}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>E63_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,342},{108,168}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{108,168}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>E63_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,2},{107,168}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,25},{107,168}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>E63_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,174},{109,170}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{109,170}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>E63_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,348},{115,166}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,27},{115,166}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>E63_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,172},{123,168}}</string>
                <key>offset</key>
                <string>{19,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,25},{123,168}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>E63_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,342},{101,168}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{101,168}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>E63_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,174},{109,170}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{109,170}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>E63_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{109,172}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{109,172}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>E63_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{111,172}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{111,172}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>E63_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,174},{117,170}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{117,170}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>E63_attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{117,170}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{117,170}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>E63_magic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,342},{106,168}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{106,168}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,2},{128,168}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{128,168}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,2},{126,168}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{126,168}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,174},{124,170}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{124,170}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,176},{124,172}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{124,172}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{132,172}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{132,172}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,174},{136,170}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{136,170}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,350},{140,170}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,23},{140,170}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,346},{136,168}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{136,168}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,346},{134,168}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{134,168}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,174},{132,168}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{132,168}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,348},{104,166}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{104,166}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,346},{134,168}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{134,168}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{136,170}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{136,170}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{142,172}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{142,172}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,172}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{142,172}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,176},{136,170}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{136,170}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{132,170}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{132,170}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,346},{132,168}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{132,168}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,2},{122,168}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{122,168}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{124,170}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{124,170}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,2},{100,170}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{100,170}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,176},{120,172}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{120,172}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{140,172}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,21},{140,172}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,350},{140,170}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,23},{140,170}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,2},{116,170}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,23},{116,170}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,342},{122,168}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{122,168}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>E63_magic_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,344},{128,168}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{128,168}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>wrap_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,245},{42,23}}</string>
                <key>offset</key>
                <string>{21,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,77},{42,23}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>wrap_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,78},{76,55}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,46},{76,55}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>wrap_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,336},{76,57}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,44},{76,57}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>wrap_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,435},{74,79}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{74,79}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>wrap_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,78},{74,89}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{74,89}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>wrap_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,2},{74,93}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{74,93}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>wrap_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,2},{74,93}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{74,93}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>wrap_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,78},{74,91}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{74,91}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>wrap_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,346},{74,87}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{74,87}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>wrap_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{66,21}}</string>
                <key>offset</key>
                <string>{9,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,82},{66,21}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>wrap_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,414},{88,37}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,64},{88,37}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>wrap_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2010,414},{76,31}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,70},{76,31}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>wrap_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,414},{88,31}}</string>
                <key>offset</key>
                <string>{11,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,70},{88,31}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>wrap_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,156},{88,49}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,52},{88,49}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>wrap_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,169},{74,49}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,52},{74,49}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>wrap_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,270},{74,41}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,60},{74,41}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>wrap_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1979,246},{88,59}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,42},{88,59}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>E63.png</string>
            <key>size</key>
            <string>{2047,516}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d925ad9a5b52558f02e2ace07b815449$</string>
            <key>textureFileName</key>
            <string>E63.png</string>
        </dict>
    </dict>
</plist>
