<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>E64_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{142,178}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{142,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,362},{146,174}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{146,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,178},{142,174}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{142,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{138,180}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{138,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,182},{138,178}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{138,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{142,174}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{142,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{142,174}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{142,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,184},{142,180}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{142,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,366},{142,178}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,13},{142,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{136,174}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,17},{136,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,176},{130,172}}</string>
                <key>offset</key>
                <string>{32,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,19},{130,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,182},{154,176}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{154,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,200},{154,184}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{154,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,196}}</string>
                <key>offset</key>
                <string>{-20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{150,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{144,190}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{144,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{152,180}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{152,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_magic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,178},{160,172}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{160,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_magic_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2},{146,172}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{146,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_magic_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,176},{146,172}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{146,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_magic_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,350},{146,172}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,19},{146,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_magic_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,350},{146,170}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,21},{146,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_magic_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2},{146,172}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{146,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_magic_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,176},{146,172}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{146,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_magic_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,350},{146,172}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,19},{146,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_magic_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,350},{146,170}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,21},{146,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_magic_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2},{146,172}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{146,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_magic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,354},{150,170}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,21},{150,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_magic_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{146,172}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{146,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_magic_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,176},{146,172}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{146,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_magic_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,174},{146,170}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{146,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_magic_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,352},{146,172}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,19},{146,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_magic_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{146,172}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{146,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_magic_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,360},{148,172}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,19},{148,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>E64_magic_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,2},{146,170}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{146,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>E64.png</string>
            <key>size</key>
            <string>{1626,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6397dd0ffd3f23ff44cda4c254039834$</string>
            <key>textureFileName</key>
            <string>E64.png</string>
        </dict>
    </dict>
</plist>
