<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1026},{35,34}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{35,34}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>B01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1133},{57,62}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{57,62}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>B01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,385},{63,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,68}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>B03_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1423},{50,46}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>B03_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1471},{56,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>B03_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1369},{60,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>B07_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,663},{13,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,40}}</string>
                <key>sourceSize</key>
                <string>{13,40}</string>
            </dict>
            <key>B07_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,608},{15,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,42}}</string>
                <key>sourceSize</key>
                <string>{15,42}</string>
            </dict>
            <key>B07_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,979},{16,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,45}}</string>
                <key>sourceSize</key>
                <string>{16,45}</string>
            </dict>
            <key>B07_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,625},{20,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,41}}</string>
                <key>sourceSize</key>
                <string>{20,41}</string>
            </dict>
            <key>B103_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,955},{22,22}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{22,22}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>B103_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,921},{32,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{32,28}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>B103_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1369},{52,50}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{52,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>B103_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,327},{64,56}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{64,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>B103_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,647},{58,40}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,23},{58,40}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>B11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{323,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,323}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>E62_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,562},{44,42}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{44,42}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>bigwalker_died1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,663},{38,28}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,21},{38,28}}</string>
                <key>sourceSize</key>
                <string>{120,102}</string>
            </dict>
            <key>bigwalker_died2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1073},{68,58}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{68,58}}</string>
                <key>sourceSize</key>
                <string>{120,102}</string>
            </dict>
            <key>bigwalker_died3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1001},{74,70}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{74,70}}</string>
                <key>sourceSize</key>
                <string>{120,102}</string>
            </dict>
            <key>bullet-Connect-10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{54,208}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{54,208}}</string>
                <key>sourceSize</key>
                <string>{76,224}</string>
            </dict>
            <key>bullet-Connect-10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{50,208}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{50,208}}</string>
                <key>sourceSize</key>
                <string>{76,224}</string>
            </dict>
            <key>bullet-Connect-10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{54,208}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{54,208}}</string>
                <key>sourceSize</key>
                <string>{76,224}</string>
            </dict>
            <key>bullet-Connect-10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{50,208}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{50,208}}</string>
                <key>sourceSize</key>
                <string>{76,224}</string>
            </dict>
            <key>bullet142_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1186},{47,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{47,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>bullet142_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1133},{49,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{49,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>bullet142_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1471},{53,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{53,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>bullet142_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1674},{55,55}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{55,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>bullet142_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1674},{55,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{55,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>bullet142_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1674},{55,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{55,57}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>fireball1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,455},{206,62}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{206,62}}</string>
                <key>sourceSize</key>
                <string>{218,76}</string>
            </dict>
            <key>fireball2.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1668},{136,60}}</string>
                <key>offset</key>
                <string>{41,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,8},{136,60}}</string>
                <key>sourceSize</key>
                <string>{218,76}</string>
            </dict>
            <key>fireballExplode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,921},{78,78}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{78,78}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>fireballExplode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,707},{104,98}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{104,98}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>fireballExplode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,807},{110,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{110,112}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>fireballExplode4.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1235},{128,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{128,132}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>fireballExplode5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{138,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{138,142}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>fireballExplode6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1530},{130,136}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{130,136}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>renpinbaofa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{233,257}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,12},{233,257}}</string>
                <key>sourceSize</key>
                <string>{283,287}</string>
            </dict>
            <key>renpinbaofa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{209,213}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,48},{209,213}}</string>
                <key>sourceSize</key>
                <string>{283,287}</string>
            </dict>
            <key>renpinbaofa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,773},{191,211}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,44},{191,211}}</string>
                <key>sourceSize</key>
                <string>{283,287}</string>
            </dict>
            <key>renpinbaofa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1361},{167,193}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,61},{167,193}}</string>
                <key>sourceSize</key>
                <string>{283,287}</string>
            </dict>
            <key>renpinbaofa5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{177,193}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,55},{177,193}}</string>
                <key>sourceSize</key>
                <string>{283,287}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{327,1731}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e970b10650415137033b0c98d42907f4$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
