<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B02_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,286},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>B02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,194},{40,44}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,30},{40,44}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>B02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,243},{52,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{52,54}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>B02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{64,72}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{64,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>B02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>B02_slowBuffer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,94},{68,22}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{68,22}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>B02_slowBuffer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{84,20}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{84,20}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>B02_slowBuffer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{90,20}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{90,20}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>T02_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,157},{35,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{35,58}}</string>
                <key>sourceSize</key>
                <string>{47,74}</string>
            </dict>
            <key>T02_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,138},{35,52}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{35,52}}</string>
                <key>sourceSize</key>
                <string>{47,74}</string>
            </dict>
            <key>T02_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,181},{35,48}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{35,48}}</string>
                <key>sourceSize</key>
                <string>{47,74}</string>
            </dict>
            <key>T02_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,231},{37,42}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{37,42}}</string>
                <key>sourceSize</key>
                <string>{47,74}</string>
            </dict>
            <key>T02_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,80},{35,48}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{35,48}}</string>
                <key>sourceSize</key>
                <string>{47,74}</string>
            </dict>
            <key>T02_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,24},{33,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{33,54}}</string>
                <key>sourceSize</key>
                <string>{47,74}</string>
            </dict>
            <key>T02_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,119},{29,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{29,60}}</string>
                <key>sourceSize</key>
                <string>{47,74}</string>
            </dict>
            <key>T02_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,68},{31,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{31,62}}</string>
                <key>sourceSize</key>
                <string>{47,74}</string>
            </dict>
            <key>T02_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,120},{35,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{35,58}}</string>
                <key>sourceSize</key>
                <string>{47,74}</string>
            </dict>
            <key>T02_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,238},{35,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{35,66}}</string>
                <key>sourceSize</key>
                <string>{47,74}</string>
            </dict>
            <key>T02_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,132},{39,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{39,60}}</string>
                <key>sourceSize</key>
                <string>{47,74}</string>
            </dict>
            <key>T02_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,240},{45,54}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{45,54}}</string>
                <key>sourceSize</key>
                <string>{47,74}</string>
            </dict>
            <key>T02_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,72},{35,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{35,64}}</string>
                <key>sourceSize</key>
                <string>{47,74}</string>
            </dict>
            <key>T02_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,24},{35,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{35,70}}</string>
                <key>sourceSize</key>
                <string>{47,74}</string>
            </dict>
            <key>T02_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,168},{35,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{35,68}}</string>
                <key>sourceSize</key>
                <string>{47,74}</string>
            </dict>
            <key>T02_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{35,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{35,66}}</string>
                <key>sourceSize</key>
                <string>{47,74}</string>
            </dict>
            <key>T02_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,68}}</string>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>T02_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,194},{44,60}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>T02_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,61},{44,56}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>T02_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,240},{44,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{44,62}}</string>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>T02_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,24},{42,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,68}}</string>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>T02_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,68}}</string>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>T02_seat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,130},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{46,40}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>T02_seat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,192},{49,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,42}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>T02_seat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,68},{58,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>T02.png</string>
            <key>size</key>
            <string>{306,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bc1bfb5c17e627455cab65b342ba919$</string>
            <key>textureFileName</key>
            <string>T02.png</string>
        </dict>
    </dict>
</plist>
