<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{108,118}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,47},{108,118}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>B16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,174},{148,136}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,28},{148,136}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>B16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{168,170}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{168,170}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>B16_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,172},{170,166}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{170,166}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>B16_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{170,176}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{170,176}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>B16_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,176}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{180,176}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>B16_bomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,506},{40,38}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>B16_bomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,290},{34,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{34,32}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>T16_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,458},{46,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{46,68}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,410},{46,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{46,68}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,458},{46,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{46,68}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,388},{46,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{46,68}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,464},{46,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{46,68}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,340},{46,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{46,68}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,340},{46,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{46,68}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,340},{46,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{46,68}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,480},{46,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{46,68}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,348},{46,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{46,68}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,348},{46,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{46,68}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,388},{50,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{50,74}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,464},{50,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{50,74}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,388},{50,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{50,74}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,388},{50,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{50,74}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,492},{50,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{50,74}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,416},{50,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{50,74}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,492},{50,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{50,74}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,416},{50,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{50,74}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,364},{50,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{50,74}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,312},{50,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{50,74}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,312},{50,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{50,74}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,396},{52,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{52,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,396},{52,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{52,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,396},{52,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{52,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,482},{52,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{52,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,398},{52,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{52,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{52,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{52,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{52,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{52,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{52,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{52,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{52,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{52,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,264},{52,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{52,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>T16_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,180},{52,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{52,82}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>T16.png</string>
            <key>size</key>
            <string>{550,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e53652a7c2bf871431e9948758db6dbd$</string>
            <key>textureFileName</key>
            <string>T16.png</string>
        </dict>
    </dict>
</plist>
