<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Theme4_EnemyHome.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{50,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{50,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Theme4_home-R.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,130},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>floatIce.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,246},{64,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>strangePoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{96,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>waterSeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{66,64}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{66,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>waterSeat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,196},{66,48}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{66,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>theme4Scene.png</string>
            <key>size</key>
            <string>{126,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6650d2148b080ac980ca81d8da3bd9f5$</string>
            <key>textureFileName</key>
            <string>theme4Scene.png</string>
        </dict>
    </dict>
</plist>
