<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Theme1_EnemyHome.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{46,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{46,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Theme1_home-R.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,130},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>strangePoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{96,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>theme1Scene.png</string>
            <key>size</key>
            <string>{106,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1bb0e810ce4bbb87910272031936dae$</string>
            <key>textureFileName</key>
            <string>theme1Scene.png</string>
        </dict>
    </dict>
</plist>
