<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clickGifted.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,619},{118,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{118,35}}</string>
                <key>sourceSize</key>
                <string>{122,39}</string>
            </dict>
            <key>dailyLoginBarBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,514},{145,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{145,146}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>dailyLoginBarYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{145,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{145,146}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>dailyLoginBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{865,510}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{865,510}}</string>
                <key>sourceSize</key>
                <string>{881,522}</string>
            </dict>
            <key>dailyLoginCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,521},{87,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>dailyLoginDiamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,603},{89,81}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{89,81}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>dailyLoginEnergy.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,514},{89,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,87}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>dailyLoginGiftButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2},{202,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,83}}</string>
                <key>sourceSize</key>
                <string>{202,83}</string>
            </dict>
            <key>dayNum1.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,514},{103,89}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{103,89}}</string>
                <key>sourceSize</key>
                <string>{107,95}</string>
            </dict>
            <key>dayNum2.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,514},{103,89}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{103,89}}</string>
                <key>sourceSize</key>
                <string>{107,95}</string>
            </dict>
            <key>dayNum3.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,514},{103,89}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{103,89}}</string>
                <key>sourceSize</key>
                <string>{107,95}</string>
            </dict>
            <key>dayNum4.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,514},{103,89}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{103,89}}</string>
                <key>sourceSize</key>
                <string>{107,95}</string>
            </dict>
            <key>dayNum5.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,416},{103,89}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{103,89}}</string>
                <key>sourceSize</key>
                <string>{107,95}</string>
            </dict>
            <key>dayNum6.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,311},{103,89}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{103,89}}</string>
                <key>sourceSize</key>
                <string>{107,95}</string>
            </dict>
            <key>dayNum7.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,206},{103,89}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{103,89}}</string>
                <key>sourceSize</key>
                <string>{107,95}</string>
            </dict>
            <key>hasGifted.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,619},{90,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{90,35}}</string>
                <key>sourceSize</key>
                <string>{94,41}</string>
            </dict>
            <key>secretPackage.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,656},{101,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,27}}</string>
                <key>sourceSize</key>
                <string>{101,27}</string>
            </dict>
            <key>superGift.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,514},{113,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,121}}</string>
                <key>sourceSize</key>
                <string>{113,121}</string>
            </dict>
            <key>superGiftName.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,637},{119,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{119,47}}</string>
                <key>sourceSize</key>
                <string>{121,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_dailyLogin.png</string>
            <key>size</key>
            <string>{960,686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26f7dba2f351bcb2e13bfd3bb00e50e2$</string>
            <key>textureFileName</key>
            <string>ui_dailyLogin.png</string>
        </dict>
    </dict>
</plist>
