<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1516},{153,155}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>hero1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1516},{153,155}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>hero1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1365},{153,155}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>hero1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1535},{153,155}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>hero1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1504},{153,155}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>hero1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1365},{153,155}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>hero1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1380},{153,155}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>hero1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1349},{153,155}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>hero1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1194},{153,155}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>hero1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,989},{153,155}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>hero2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,418},{191,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,208}}</string>
                <key>sourceSize</key>
                <string>{191,208}</string>
            </dict>
            <key>hero2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,418},{191,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,208}}</string>
                <key>sourceSize</key>
                <string>{191,208}</string>
            </dict>
            <key>hero2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,817},{189,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,208}}</string>
                <key>sourceSize</key>
                <string>{191,208}</string>
            </dict>
            <key>hero2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{189,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,208}}</string>
                <key>sourceSize</key>
                <string>{191,208}</string>
            </dict>
            <key>hero2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,802},{189,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,208}}</string>
                <key>sourceSize</key>
                <string>{191,208}</string>
            </dict>
            <key>hero2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,802},{189,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,208}}</string>
                <key>sourceSize</key>
                <string>{191,208}</string>
            </dict>
            <key>hero2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,611},{189,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,208}}</string>
                <key>sourceSize</key>
                <string>{191,208}</string>
            </dict>
            <key>hero2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,626},{189,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,208}}</string>
                <key>sourceSize</key>
                <string>{191,208}</string>
            </dict>
            <key>hero2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,611},{189,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,208}}</string>
                <key>sourceSize</key>
                <string>{191,208}</string>
            </dict>
            <key>hero2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{191,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,208}}</string>
                <key>sourceSize</key>
                <string>{191,208}</string>
            </dict>
            <key>hero3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1008},{184,197}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,197}}</string>
                <key>sourceSize</key>
                <string>{184,203}</string>
            </dict>
            <key>hero3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,993},{184,199}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,199}}</string>
                <key>sourceSize</key>
                <string>{184,203}</string>
            </dict>
            <key>hero3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1008},{184,197}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,197}}</string>
                <key>sourceSize</key>
                <string>{184,203}</string>
            </dict>
            <key>hero3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1144},{184,197}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,197}}</string>
                <key>sourceSize</key>
                <string>{184,203}</string>
            </dict>
            <key>hero3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1179},{184,195}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,195}}</string>
                <key>sourceSize</key>
                <string>{184,203}</string>
            </dict>
            <key>hero3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{184,193}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,193}}</string>
                <key>sourceSize</key>
                <string>{184,203}</string>
            </dict>
            <key>hero3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,802},{180,185}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{180,185}}</string>
                <key>sourceSize</key>
                <string>{184,203}</string>
            </dict>
            <key>hero3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1330},{184,193}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,193}}</string>
                <key>sourceSize</key>
                <string>{184,203}</string>
            </dict>
            <key>hero3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1179},{184,195}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,195}}</string>
                <key>sourceSize</key>
                <string>{184,203}</string>
            </dict>
            <key>hero3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,993},{184,197}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,197}}</string>
                <key>sourceSize</key>
                <string>{184,203}</string>
            </dict>
            <key>hero4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,210},{206,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,242}}</string>
                <key>sourceSize</key>
                <string>{206,242}</string>
            </dict>
            <key>hero4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,210},{206,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,242}}</string>
                <key>sourceSize</key>
                <string>{206,242}</string>
            </dict>
            <key>hero4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{204,242}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,242}}</string>
                <key>sourceSize</key>
                <string>{206,242}</string>
            </dict>
            <key>hero4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,210},{206,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,242}}</string>
                <key>sourceSize</key>
                <string>{206,242}</string>
            </dict>
            <key>hero4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{206,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,242}}</string>
                <key>sourceSize</key>
                <string>{206,242}</string>
            </dict>
            <key>hero4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{206,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,242}}</string>
                <key>sourceSize</key>
                <string>{206,242}</string>
            </dict>
            <key>hero4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{206,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,242}}</string>
                <key>sourceSize</key>
                <string>{206,242}</string>
            </dict>
            <key>hero4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{206,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,242}}</string>
                <key>sourceSize</key>
                <string>{206,242}</string>
            </dict>
            <key>hero4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,242}}</string>
                <key>sourceSize</key>
                <string>{206,242}</string>
            </dict>
            <key>hero4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,418},{206,240}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{206,240}}</string>
                <key>sourceSize</key>
                <string>{206,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_herohouseAni.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:229cf61afb9007667c647ba0b31373d7$</string>
            <key>textureFileName</key>
            <string>ui_herohouseAni.png</string>
        </dict>
    </dict>
</plist>
