<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pre_allClearLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,323},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>pre_allClearTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,434},{80,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,22}}</string>
                <key>sourceSize</key>
                <string>{80,22}</string>
            </dict>
            <key>pre_itemBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{378,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,378}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
            <key>pre_itemBlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,382},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>pre_itemDiamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,408},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>pre_itemDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,434},{38,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,22}}</string>
                <key>sourceSize</key>
                <string>{42,26}</string>
            </dict>
            <key>pre_itemIcon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,119},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>pre_itemIcon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,396},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pre_itemIcon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,62},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>pre_itemIcon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,2},{53,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,58}}</string>
                <key>sourceSize</key>
                <string>{53,58}</string>
            </dict>
            <key>pre_itemIcon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,389},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>pre_itemIcon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,396},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>pre_itemLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,382},{123,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{123,33}}</string>
                <key>sourceSize</key>
                <string>{127,37}</string>
            </dict>
            <key>pre_itemNumBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,187},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>pre_itemPurchase.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,382},{94,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,69}}</string>
                <key>sourceSize</key>
                <string>{94,69}</string>
            </dict>
            <key>pre_itemSingleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,133},{368,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,105}}</string>
                <key>sourceSize</key>
                <string>{368,105}</string>
            </dict>
            <key>pre_itemUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,434},{37,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,21}}</string>
                <key>sourceSize</key>
                <string>{37,21}</string>
            </dict>
            <key>pre_itemUse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,240},{94,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,69}}</string>
                <key>sourceSize</key>
                <string>{94,69}</string>
            </dict>
            <key>pre_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{385,5}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{385,5}}</string>
                <key>sourceSize</key>
                <string>{407,5}</string>
            </dict>
            <key>pre_previewBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,2},{454,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,456}}</string>
                <key>sourceSize</key>
                <string>{454,456}</string>
            </dict>
            <key>pre_starLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,318},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>pre_starMid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,311},{81,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,76}}</string>
                <key>sourceSize</key>
                <string>{81,76}</string>
            </dict>
            <key>pre_starRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,240},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>pre_startButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,240},{208,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,81}}</string>
                <key>sourceSize</key>
                <string>{208,81}</string>
            </dict>
            <key>pre_taskBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{430,557}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,557}}</string>
                <key>sourceSize</key>
                <string>{430,557}</string>
            </dict>
            <key>pre_taskFinish.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,408},{67,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,37}}</string>
                <key>sourceSize</key>
                <string>{71,41}</string>
            </dict>
            <key>pre_taskGifted.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,382},{83,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{83,56}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>pre_taskLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,417},{121,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,32}}</string>
                <key>sourceSize</key>
                <string>{121,32}</string>
            </dict>
            <key>pre_taskSingleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,2},{368,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,129}}</string>
                <key>sourceSize</key>
                <string>{368,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_prepare.png</string>
            <key>size</key>
            <string>{1824,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97c29af15e35b7f1f185549bc20d2f94$</string>
            <key>textureFileName</key>
            <string>ui_prepare.png</string>
        </dict>
    </dict>
</plist>
