<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blankArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,950},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>blood-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,920},{72,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,34}}</string>
                <key>sourceSize</key>
                <string>{72,34}</string>
            </dict>
            <key>blood-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,822},{35,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,31}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>createTower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,864},{78,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{78,70}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>createTower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,576},{72,66}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{72,66}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>createTower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,576},{60,44}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,23},{60,44}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>createTower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,312},{36,40}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{36,40}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>createTower5.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,637},{30,22}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,23},{30,22}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>dizzy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,992},{61,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,29}}</string>
                <key>sourceSize</key>
                <string>{63,29}</string>
            </dict>
            <key>dizzy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,982},{57,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{57,27}}</string>
                <key>sourceSize</key>
                <string>{63,29}</string>
            </dict>
            <key>dizzy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,521},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{63,29}</string>
            </dict>
            <key>dizzy_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,992},{61,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,29}}</string>
                <key>sourceSize</key>
                <string>{63,29}</string>
            </dict>
            <key>forbid.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,956},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>fortMoneyBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,325},{83,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,43}}</string>
                <key>sourceSize</key>
                <string>{83,43}</string>
            </dict>
            <key>getMoneyBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,992},{69,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,29}}</string>
                <key>sourceSize</key>
                <string>{69,29}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,915},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>heroFocusEffect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{84,180}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{84,180}}</string>
                <key>sourceSize</key>
                <string>{98,190}</string>
            </dict>
            <key>heroFocusEffect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,2},{82,186}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{82,186}}</string>
                <key>sourceSize</key>
                <string>{98,190}</string>
            </dict>
            <key>heroFocusEffect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,491},{82,184}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{82,184}}</string>
                <key>sourceSize</key>
                <string>{98,190}</string>
            </dict>
            <key>heroFocusEffect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,491},{84,176}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{84,176}}</string>
                <key>sourceSize</key>
                <string>{98,190}</string>
            </dict>
            <key>heroFocusEffect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,2},{84,178}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{84,178}}</string>
                <key>sourceSize</key>
                <string>{98,190}</string>
            </dict>
            <key>heroFocusEffect6.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,677},{84,176}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{84,176}}</string>
                <key>sourceSize</key>
                <string>{98,190}</string>
            </dict>
            <key>heroFocusLight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,700},{110,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{110,86}}</string>
                <key>sourceSize</key>
                <string>{114,90}</string>
            </dict>
            <key>heroFocusLight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,780},{110,78}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{110,78}}</string>
                <key>sourceSize</key>
                <string>{114,90}</string>
            </dict>
            <key>heroFocusLight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,190},{112,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{112,82}}</string>
                <key>sourceSize</key>
                <string>{114,90}</string>
            </dict>
            <key>heroFocusLight4.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,710},{112,86}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{112,86}}</string>
                <key>sourceSize</key>
                <string>{114,90}</string>
            </dict>
            <key>heroFocusLight5.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,874},{114,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{114,80}}</string>
                <key>sourceSize</key>
                <string>{114,90}</string>
            </dict>
            <key>heroFocusLight6.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,860},{112,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,88}}</string>
                <key>sourceSize</key>
                <string>{114,90}</string>
            </dict>
            <key>heroFocusLight7.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,902},{106,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{106,88}}</string>
                <key>sourceSize</key>
                <string>{114,90}</string>
            </dict>
            <key>heroFocusLight8.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,812},{106,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{106,88}}</string>
                <key>sourceSize</key>
                <string>{114,90}</string>
            </dict>
            <key>heroHeadHp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,483},{50,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,8}}</string>
                <key>sourceSize</key>
                <string>{50,8}</string>
            </dict>
            <key>heroHeadHpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,552},{52,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,10}}</string>
                <key>sourceSize</key>
                <string>{52,10}</string>
            </dict>
            <key>heroHp.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,998},{62,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,12}}</string>
                <key>sourceSize</key>
                <string>{62,12}</string>
            </dict>
            <key>heroHpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,431},{62,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,12}}</string>
                <key>sourceSize</key>
                <string>{62,12}</string>
            </dict>
            <key>heroSkillCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>heroSkillLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{153,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,491}}</string>
                <key>sourceSize</key>
                <string>{153,491}</string>
            </dict>
            <key>heroWaitBuff1.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,736},{88,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,36}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
            <key>heroWaitBuff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,776},{88,34}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
            <key>heroWaitBuff3.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,644},{90,34}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,34}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
            <key>heroWaitBuff4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,728},{86,34}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,34}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
            <key>heroWaitBuff5.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,734},{86,34}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,34}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
            <key>heroWaitBuff6.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,638},{88,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,36}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
            <key>heroWaitBuff7.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,644},{88,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,36}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
            <key>heroWaitBuff8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{88,36}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,36}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
            <key>hero_dest.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,770},{89,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,56}}</string>
                <key>sourceSize</key>
                <string>{89,56}</string>
            </dict>
            <key>hero_destsign.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,434},{54,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,37}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>hero_moveline.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,304},{226,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{226,6}}</string>
                <key>sourceSize</key>
                <string>{226,8}</string>
            </dict>
            <key>herodead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,936},{72,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{72,98}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>herodead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,764},{72,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{72,98}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>herodead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,664},{72,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{72,98}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>herodead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,564},{72,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{72,98}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>herodead5.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,812},{72,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{72,98}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>hpBar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1011},{52,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,10}}</string>
                <key>sourceSize</key>
                <string>{52,10}</string>
            </dict>
            <key>hpBar_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,431},{50,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,8}}</string>
                <key>sourceSize</key>
                <string>{50,8}</string>
            </dict>
            <key>jingu.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,148},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,148},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>startArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,859},{54,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>swirl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,516},{95,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,58}}</string>
                <key>sourceSize</key>
                <string>{95,58}</string>
            </dict>
            <key>swirl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,371},{95,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,58}}</string>
                <key>sourceSize</key>
                <string>{95,58}</string>
            </dict>
            <key>swirl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,424},{95,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,58}}</string>
                <key>sourceSize</key>
                <string>{95,58}</string>
            </dict>
            <key>swirl4.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,327},{95,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,58}}</string>
                <key>sourceSize</key>
                <string>{95,58}</string>
            </dict>
            <key>swirl5.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,960},{95,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,58}}</string>
                <key>sourceSize</key>
                <string>{95,58}</string>
            </dict>
            <key>swirl6.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,576},{95,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,58}}</string>
                <key>sourceSize</key>
                <string>{95,58}</string>
            </dict>
            <key>swirl7.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,311},{95,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,58}}</string>
                <key>sourceSize</key>
                <string>{95,58}</string>
            </dict>
            <key>swirl8.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,251},{95,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,58}}</string>
                <key>sourceSize</key>
                <string>{95,58}</string>
            </dict>
            <key>swrilWater1.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,327},{99,99}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>swrilWater2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,637},{99,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,141}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>swrilWater3.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,182},{99,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,141}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>swrilWater4.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,184},{99,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,141}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>swrilWater5.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,817},{99,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,141}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>swrilWater6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,855},{99,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,141}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>thingBomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,912},{76,78}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{76,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>thingBomb001.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,828},{120,78}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,53},{120,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>thingBomb002.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,566},{132,76}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,54},{132,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>thingBomb003.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,434},{140,96}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,33},{140,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>thingBomb004.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,312},{138,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{138,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>thingBomb005.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{144,118}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{144,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>thingBomb006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{148,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{148,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>thingBomb007.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,361},{142,128}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{142,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>thingBomb008.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,312},{138,120}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{138,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>thingBomb009.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,491},{144,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{144,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>thingBomb010.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,669},{146,110}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{146,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>towerRange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{357,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,357}}</string>
                <key>sourceSize</key>
                <string>{357,357}</string>
            </dict>
            <key>towerRemove.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,431},{83,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,93}}</string>
                <key>sourceSize</key>
                <string>{83,93}</string>
            </dict>
            <key>towerStink.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,863},{55,55}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{55,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>towerTopGrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,950},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>towerUpgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,671},{85,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,103}}</string>
                <key>sourceSize</key>
                <string>{85,103}</string>
            </dict>
            <key>towerUpgrade1.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,588},{112,120}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{112,120}}</string>
                <key>sourceSize</key>
                <string>{112,170}</string>
            </dict>
            <key>towerUpgrade2.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,452},{110,134}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{110,134}}</string>
                <key>sourceSize</key>
                <string>{112,170}</string>
            </dict>
            <key>towerUpgrade3.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,428},{106,136}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{106,136}}</string>
                <key>sourceSize</key>
                <string>{112,170}</string>
            </dict>
            <key>towerUpgrade4.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,428},{104,134}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{104,134}}</string>
                <key>sourceSize</key>
                <string>{112,170}</string>
            </dict>
            <key>towerUpgrade5.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,636},{100,132}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{100,132}}</string>
                <key>sourceSize</key>
                <string>{112,170}</string>
            </dict>
            <key>towerUpgrade6.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,361},{96,128}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{96,128}}</string>
                <key>sourceSize</key>
                <string>{112,170}</string>
            </dict>
            <key>towerUpgrade7.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,304},{88,122}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{88,122}}</string>
                <key>sourceSize</key>
                <string>{112,170}</string>
            </dict>
            <key>towerUpgrade8.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,798},{74,110}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{74,110}}</string>
                <key>sourceSize</key>
                <string>{112,170}</string>
            </dict>
            <key>towerUpgradeGray.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,566},{85,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,103}}</string>
                <key>sourceSize</key>
                <string>{85,103}</string>
            </dict>
            <key>towerUpgradeLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,956},{65,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{65,74}</string>
            </dict>
            <key>upgradeTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,826},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight.png</string>
            <key>size</key>
            <string>{1046,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f64048d62d50ea4c4e9c0c758bfef61$</string>
            <key>textureFileName</key>
            <string>fight.png</string>
        </dict>
    </dict>
</plist>
