<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>iceBreak1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{568,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,360}}</string>
                <key>sourceSize</key>
                <string>{568,360}</string>
            </dict>
            <key>iceBreak2.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,364},{568,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,360}}</string>
                <key>sourceSize</key>
                <string>{568,360}</string>
            </dict>
            <key>iceBreak3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{568,344}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{568,344}}</string>
                <key>sourceSize</key>
                <string>{568,360}</string>
            </dict>
            <key>iceBreak4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,364},{568,304}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{568,304}}</string>
                <key>sourceSize</key>
                <string>{568,360}</string>
            </dict>
            <key>iceBreak5.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,726},{568,274}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{568,274}}</string>
                <key>sourceSize</key>
                <string>{568,360}</string>
            </dict>
            <key>iceBreak6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,874},{568,202}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,158},{568,202}}</string>
                <key>sourceSize</key>
                <string>{568,360}</string>
            </dict>
            <key>iceBreak7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,670},{568,202}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,158},{568,202}}</string>
                <key>sourceSize</key>
                <string>{568,360}</string>
            </dict>
            <key>iceBreak8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,2},{568,202}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,158},{568,202}}</string>
                <key>sourceSize</key>
                <string>{568,360}</string>
            </dict>
            <key>icePic0.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{568,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,360}}</string>
                <key>sourceSize</key>
                <string>{568,360}</string>
            </dict>
            <key>icePic1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{568,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,360}}</string>
                <key>sourceSize</key>
                <string>{568,360}</string>
            </dict>
            <key>icePic2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{568,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,360}}</string>
                <key>sourceSize</key>
                <string>{568,360}</string>
            </dict>
            <key>iceTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,572},{478,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,44}}</string>
                <key>sourceSize</key>
                <string>{478,44}</string>
            </dict>
            <key>iceTipPic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,572},{197,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,251}}</string>
                <key>sourceSize</key>
                <string>{197,251}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shakeIce.png</string>
            <key>size</key>
            <string>{1957,1078}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb4dd802a709fd58dfb4a3cf449200bc$</string>
            <key>textureFileName</key>
            <string>shakeIce.png</string>
        </dict>
    </dict>
</plist>
