<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GreenButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,949},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>MotionSenseCount1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,1142},{53,98}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{53,98}}</string>
                <key>sourceSize</key>
                <string>{87,116}</string>
            </dict>
            <key>MotionSenseCount2.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1096},{73,100}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{73,100}}</string>
                <key>sourceSize</key>
                <string>{87,116}</string>
            </dict>
            <key>MotionSenseCount3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,814},{73,102}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{73,102}}</string>
                <key>sourceSize</key>
                <string>{87,116}</string>
            </dict>
            <key>RadioButtonOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,460},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>RadioButtonOffDisabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,1024},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>RadioButtonOffPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,1097},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>RadioButtonOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,1091},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>RadioButtonOnDisabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1134},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>RadioButtonOnPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,678},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bossAppearTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{471,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,114}}</string>
                <key>sourceSize</key>
                <string>{471,114}</string>
            </dict>
            <key>cdEffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,806},{94,94}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{94,94}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>countGo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,439},{188,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,114}}</string>
                <key>sourceSize</key>
                <string>{188,114}</string>
            </dict>
            <key>countNumBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,57},{336,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,346}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>countOne.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1130},{57,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,111}}</string>
                <key>sourceSize</key>
                <string>{57,111}</string>
            </dict>
            <key>countThree.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1096},{81,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,114}}</string>
                <key>sourceSize</key>
                <string>{81,114}</string>
            </dict>
            <key>countTwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,1027},{81,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,113}}</string>
                <key>sourceSize</key>
                <string>{81,113}</string>
            </dict>
            <key>enemyAppearTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,493},{541,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,114}}</string>
                <key>sourceSize</key>
                <string>{541,114}</string>
            </dict>
            <key>enemyArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,645},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>enemyHomePos.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1120},{76,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>enhance_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,887},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>getNewFortBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,405},{215,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,298}}</string>
                <key>sourceSize</key>
                <string>{215,298}</string>
            </dict>
            <key>getNewFortButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1027},{148,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,75}}</string>
                <key>sourceSize</key>
                <string>{148,75}</string>
            </dict>
            <key>getNewFortLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{491,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,525}}</string>
                <key>sourceSize</key>
                <string>{491,525}</string>
            </dict>
            <key>getNewFortPic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,439},{169,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,171}}</string>
                <key>sourceSize</key>
                <string>{169,171}</string>
            </dict>
            <key>getNewFortTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,493},{422,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,135}}</string>
                <key>sourceSize</key>
                <string>{422,135}</string>
            </dict>
            <key>guideArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,1142},{54,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>heroHpEffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,631},{102,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{102,103}}</string>
                <key>sourceSize</key>
                <string>{108,105}</string>
            </dict>
            <key>heroShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,57},{40,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,11}}</string>
                <key>sourceSize</key>
                <string>{40,11}</string>
            </dict>
            <key>hero_reborn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,917},{170,154}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{170,154}}</string>
                <key>sourceSize</key>
                <string>{170,186}</string>
            </dict>
            <key>hero_reborn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,705},{170,178}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{170,178}}</string>
                <key>sourceSize</key>
                <string>{170,186}</string>
            </dict>
            <key>hero_reborn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,908},{170,166}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{170,166}}</string>
                <key>sourceSize</key>
                <string>{170,186}</string>
            </dict>
            <key>hero_reborn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,150},{156,138}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{156,138}}</string>
                <key>sourceSize</key>
                <string>{170,186}</string>
            </dict>
            <key>hero_reborn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,885},{138,140}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{138,140}}</string>
                <key>sourceSize</key>
                <string>{170,186}</string>
            </dict>
            <key>hero_reborn6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,2},{126,146}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{126,146}}</string>
                <key>sourceSize</key>
                <string>{170,186}</string>
            </dict>
            <key>hero_reborn7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,290},{126,150}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{126,150}}</string>
                <key>sourceSize</key>
                <string>{170,186}</string>
            </dict>
            <key>lastWave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1027},{109,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,113}}</string>
                <key>sourceSize</key>
                <string>{109,113}</string>
            </dict>
            <key>lastWave2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1015},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>lastWave3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,631},{98,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,47}}</string>
                <key>sourceSize</key>
                <string>{98,47}</string>
            </dict>
            <key>lastWave4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,889},{106,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,112}}</string>
                <key>sourceSize</key>
                <string>{106,112}</string>
            </dict>
            <key>lastWave5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,969},{49,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,93}}</string>
                <key>sourceSize</key>
                <string>{49,93}</string>
            </dict>
            <key>lastWaveTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,410},{346,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,95}}</string>
                <key>sourceSize</key>
                <string>{346,95}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,806},{60,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{60,79}}</string>
                <key>sourceSize</key>
                <string>{66,81}</string>
            </dict>
            <key>protectPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,1127},{64,83}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{64,83}}</string>
                <key>sourceSize</key>
                <string>{92,83}</string>
            </dict>
            <key>protectPointHurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,1026},{92,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,83}}</string>
                <key>sourceSize</key>
                <string>{92,83}</string>
            </dict>
            <key>rebornLayerBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,410},{366,184}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{366,184}}</string>
                <key>sourceSize</key>
                <string>{392,184}</string>
            </dict>
            <key>settingBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,57},{344,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,351}}</string>
                <key>sourceSize</key>
                <string>{344,351}</string>
            </dict>
            <key>settingFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1104},{83,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,88}}</string>
                <key>sourceSize</key>
                <string>{83,88}</string>
            </dict>
            <key>settingRestart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,890},{181,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,75}}</string>
                <key>sourceSize</key>
                <string>{181,75}</string>
            </dict>
            <key>settingResume.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,908},{181,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,75}}</string>
                <key>sourceSize</key>
                <string>{181,75}</string>
            </dict>
            <key>settingReturn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,705},{181,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,75}}</string>
                <key>sourceSize</key>
                <string>{181,75}</string>
            </dict>
            <key>skillBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{914,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{914,53}}</string>
                <key>sourceSize</key>
                <string>{916,53}</string>
            </dict>
            <key>skillBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,629},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>skillTipAcceler.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,405},{478,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,44}}</string>
                <key>sourceSize</key>
                <string>{478,44}</string>
            </dict>
            <key>skillTipClick.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,405},{478,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,44}}</string>
                <key>sourceSize</key>
                <string>{478,44}</string>
            </dict>
            <key>skillTipDrag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,405},{478,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,44}}</string>
                <key>sourceSize</key>
                <string>{478,44}</string>
            </dict>
            <key>skillTipFly.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,410},{478,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,44}}</string>
                <key>sourceSize</key>
                <string>{478,44}</string>
            </dict>
            <key>skillTipSwipe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1136},{478,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,44}}</string>
                <key>sourceSize</key>
                <string>{478,44}</string>
            </dict>
            <key>taskBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{716,489}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,489}}</string>
                <key>sourceSize</key>
                <string>{716,489}</string>
            </dict>
            <key>taskClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,1050},{71,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>taskComplete.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1134},{115,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,37}}</string>
                <key>sourceSize</key>
                <string>{115,37}</string>
            </dict>
            <key>taskFail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1144},{115,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,35}}</string>
                <key>sourceSize</key>
                <string>{115,35}</string>
            </dict>
            <key>taskLayerLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,418},{211,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,83}}</string>
                <key>sourceSize</key>
                <string>{211,83}</string>
            </dict>
            <key>taskLayerMoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,410},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>taskLayerNumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,997},{47,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{47,25}</string>
            </dict>
            <key>taskLayerTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1091},{45,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,27}}</string>
                <key>sourceSize</key>
                <string>{45,27}</string>
            </dict>
            <key>taskMoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,612},{137,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,63}}</string>
                <key>sourceSize</key>
                <string>{137,63}</string>
            </dict>
            <key>taskSubBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,57},{210,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,343}}</string>
                <key>sourceSize</key>
                <string>{210,343}</string>
            </dict>
            <key>taskfinish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,809},{78,74}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{78,74}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>taskfinish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,809},{80,78}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{80,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>taskfinish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,806},{80,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{80,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>taskfinish4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,1064},{78,78}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{78,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>taskfinish5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,1120},{76,70}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{76,70}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>timeBronzeMedal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,888},{61,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{61,73}}</string>
                <key>sourceSize</key>
                <string>{67,75}</string>
            </dict>
            <key>timeGoldMedal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,951},{63,71}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{63,71}}</string>
                <key>sourceSize</key>
                <string>{67,75}</string>
            </dict>
            <key>timeLabelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,678},{209,75}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{209,75}}</string>
                <key>sourceSize</key>
                <string>{237,91}</string>
            </dict>
            <key>timeSilverMedal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,1024},{61,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{61,71}}</string>
                <key>sourceSize</key>
                <string>{67,75}</string>
            </dict>
            <key>tipFinger1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,889},{112,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{112,124}}</string>
                <key>sourceSize</key>
                <string>{120,126}</string>
            </dict>
            <key>tipFinger2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1003},{112,106}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{112,106}}</string>
                <key>sourceSize</key>
                <string>{120,126}</string>
            </dict>
            <key>tipFingerAcceler1.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,778},{260,128}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,31},{260,128}}</string>
                <key>sourceSize</key>
                <string>{284,180}</string>
            </dict>
            <key>tipFingerAcceler2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,130},{266,128}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,31},{266,128}}</string>
                <key>sourceSize</key>
                <string>{284,180}</string>
            </dict>
            <key>tipFingerAcceler3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,402},{274,128}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,31},{274,128}}</string>
                <key>sourceSize</key>
                <string>{284,180}</string>
            </dict>
            <key>tipFingerAcceler4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,2},{268,126}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,31},{268,126}}</string>
                <key>sourceSize</key>
                <string>{284,180}</string>
            </dict>
            <key>tipFingerAcceler5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,260},{264,126}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{264,126}}</string>
                <key>sourceSize</key>
                <string>{284,180}</string>
            </dict>
            <key>towerCardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,902},{101,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,65}}</string>
                <key>sourceSize</key>
                <string>{101,65}</string>
            </dict>
            <key>tower_enhance1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,677},{106,130}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{106,130}}</string>
                <key>sourceSize</key>
                <string>{106,140}</string>
            </dict>
            <key>tower_enhance2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,888},{104,136}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{104,136}}</string>
                <key>sourceSize</key>
                <string>{106,140}</string>
            </dict>
            <key>tower_enhance3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,885},{106,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,140}}</string>
                <key>sourceSize</key>
                <string>{106,140}</string>
            </dict>
            <key>tower_enhance4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,889},{102,136}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{102,136}}</string>
                <key>sourceSize</key>
                <string>{106,140}</string>
            </dict>
            <key>tower_enhance5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,678},{102,134}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{102,134}}</string>
                <key>sourceSize</key>
                <string>{106,140}</string>
            </dict>
            <key>tower_enhance6.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1036},{92,132}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{92,132}}</string>
                <key>sourceSize</key>
                <string>{106,140}</string>
            </dict>
            <key>tower_enhance7.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1120},{76,108}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,29},{76,108}}</string>
                <key>sourceSize</key>
                <string>{106,140}</string>
            </dict>
            <key>tower_enhance8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,736},{68,102}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,29},{68,102}}</string>
                <key>sourceSize</key>
                <string>{106,140}</string>
            </dict>
            <key>ui_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,969},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>ui_hpBar_Bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,418},{204,37}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{204,37}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>ui_hpBar_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1076},{184,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{184,18}}</string>
                <key>sourceSize</key>
                <string>{198,42}</string>
            </dict>
            <key>ui_moneyBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1073},{158,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,59}}</string>
                <key>sourceSize</key>
                <string>{158,59}</string>
            </dict>
            <key>ui_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,1117},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>ui_speed1x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,1110},{132,67}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,67}}</string>
                <key>sourceSize</key>
                <string>{140,67}</string>
            </dict>
            <key>ui_speed2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,737},{130,67}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{130,67}}</string>
                <key>sourceSize</key>
                <string>{140,67}</string>
            </dict>
            <key>ui_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1117},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>ui_waveBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,388},{241,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,49}}</string>
                <key>sourceSize</key>
                <string>{241,49}</string>
            </dict>
            <key>ui_waveSuspend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,402},{241,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,49}}</string>
                <key>sourceSize</key>
                <string>{241,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_play.png</string>
            <key>size</key>
            <string>{2043,1198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93858d2a61e5aaedc91d9a9e7a2a3251$</string>
            <key>textureFileName</key>
            <string>ui_play.png</string>
        </dict>
    </dict>
</plist>
