<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lt_cloud5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{208,116}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{208,116}}</string>
                <key>sourceSize</key>
                <string>{228,118}</string>
            </dict>
            <key>lt_cloud6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{157,109}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{157,109}}</string>
                <key>sourceSize</key>
                <string>{185,127}</string>
            </dict>
            <key>lt_eagle.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,488},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>map1_balloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{125,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,166}}</string>
                <key>sourceSize</key>
                <string>{125,168}</string>
            </dict>
            <key>map1_bubble1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,460},{40,52}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{40,52}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>map1_bubble2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,156},{42,58}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>map1_bubble3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,92},{42,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,62}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>map1_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,749},{50,59}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,59}}</string>
                <key>sourceSize</key>
                <string>{56,65}</string>
            </dict>
            <key>map2_duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,474},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>map2_fountain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,148},{128,134}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{128,134}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>map2_fountain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,284},{132,146}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{132,146}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>map2_fountain3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,182},{144,160}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{144,160}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>map2_fountain4.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,328},{138,136}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{138,136}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>map2_penguin1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,216},{48,42}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,17},{48,42}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>map2_penguin1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,564},{74,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,56}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>map2_penguin1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,796},{50,40}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,18},{50,40}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>map2_penguin1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,418},{52,40}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{52,40}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>map2_penguin1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,376},{52,40}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{52,40}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>map2_penguin1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,796},{50,40}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,18},{50,40}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>map2_penguin1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,334},{52,40}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{52,40}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>map2_penguin1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,754},{66,50}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{66,50}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>map2_penguin1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,752},{70,54}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{70,54}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>map2_penguin1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,696},{72,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,56}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>map2_penguin1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,266},{66,50}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{66,50}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>map2_penguin1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,740},{70,54}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{70,54}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>map3_balloon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,210}}</string>
                <key>sourceSize</key>
                <string>{88,210}</string>
            </dict>
            <key>map3_balloon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,120},{60,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,166}}</string>
                <key>sourceSize</key>
                <string>{62,166}</string>
            </dict>
            <key>map3_drop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,328},{15,10}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{15,10}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>map3_drop10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{39,54}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{39,54}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>map3_drop11.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,446},{35,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{35,56}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>map3_drop12.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,801},{39,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{39,56}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>map3_drop13.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,788},{41,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{41,56}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>map3_drop14.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,796},{39,56}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,56}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>map3_drop15.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,837},{35,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{35,54}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>map3_drop16.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,513},{27,54}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{27,54}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>map3_drop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,120},{15,16}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{15,16}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>map3_drop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,120},{15,26}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{15,26}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>map3_drop4.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,442},{11,30}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{11,30}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>map3_drop5.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,398},{11,42}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{11,42}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>map3_drop6.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,340},{11,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{11,56}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>map3_drop7.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,432},{25,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{25,54}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>map3_drop8.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,831},{37,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{37,56}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>map3_drop9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{39,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{39,56}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>map3_eye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,640},{61,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,30}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>map3_eye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,517},{61,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,30}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>map3_fountain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,672},{78,60}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{78,60}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>map3_fountain10.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,675},{78,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{78,72}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>map3_fountain11.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,605},{82,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{82,68}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>map3_fountain12.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,504},{88,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,74}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>map3_fountain13.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,664},{78,74}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{78,74}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>map3_fountain14.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{82,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{82,72}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>map3_fountain15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{88,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{88,72}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>map3_fountain16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{78,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{78,74}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>map3_fountain17.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,76},{82,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{82,70}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>map3_fountain18.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,533},{88,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{88,70}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>map3_fountain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,580},{82,60}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{82,60}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>map3_fountain3.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,564},{88,60}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{88,60}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>map3_fountain4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{78,66}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{78,66}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>map3_fountain5.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,650},{82,66}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{82,66}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>map3_fountain6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{88,66}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{88,66}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>map3_fountain7.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,718},{78,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{78,68}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>map3_fountain8.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,626},{82,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{82,68}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>map3_fountain9.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,580},{88,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{88,68}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>map4_balloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{114,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,154}}</string>
                <key>sourceSize</key>
                <string>{114,154}</string>
            </dict>
            <key>map4_mermaid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,499},{63,117}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{63,117}}</string>
                <key>sourceSize</key>
                <string>{75,125}</string>
            </dict>
            <key>map4_mermaid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,466},{65,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{65,117}}</string>
                <key>sourceSize</key>
                <string>{75,125}</string>
            </dict>
            <key>map4_mermaid3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{65,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{65,117}}</string>
                <key>sourceSize</key>
                <string>{75,125}</string>
            </dict>
            <key>map4_mermaid4.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,432},{65,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{65,117}}</string>
                <key>sourceSize</key>
                <string>{75,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelThemeElements.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dc025c5a326b65ab5631537f78cbeee$</string>
            <key>textureFileName</key>
            <string>levelThemeElements.png</string>
        </dict>
    </dict>
</plist>
