<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h03_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1788},{108,110}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,28},{108,110}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,872},{114,118}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,17},{114,118}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1913},{110,104}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,32},{110,104}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,577},{208,114}}</string>
                <key>offset</key>
                <string>{-46,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{208,114}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,593},{192,112}}</string>
                <key>offset</key>
                <string>{-54,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{192,112}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{184,110}}</string>
                <key>offset</key>
                <string>{-54,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,35},{184,110}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1711},{114,104}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,34},{114,104}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,453},{162,130}}</string>
                <key>offset</key>
                <string>{-39,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{162,130}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1207},{152,128}}</string>
                <key>offset</key>
                <string>{-39,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{152,128}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,911},{158,128}}</string>
                <key>offset</key>
                <string>{-38,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{158,128}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1708},{108,110}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,28},{108,110}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1088},{98,132}}</string>
                <key>offset</key>
                <string>{24,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,9},{98,132}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,806},{114,132}}</string>
                <key>offset</key>
                <string>{55,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,16},{114,132}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1925},{114,92}}</string>
                <key>offset</key>
                <string>{68,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,76},{114,92}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_dead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1703},{116,104}}</string>
                <key>offset</key>
                <string>{70,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,58},{116,104}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_dead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1809},{116,102}}</string>
                <key>offset</key>
                <string>{69,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,62},{116,102}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_focusPre_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1591},{110,110}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,28},{110,110}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_focusPre_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1898},{108,108}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,29},{108,108}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_focus_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1883},{106,106}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,32},{106,106}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_focus_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1667},{110,104}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,34},{110,104}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_focus_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1817},{106,108}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,32},{106,108}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_focus_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1914},{110,104}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,34},{110,104}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_focus_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1779},{106,106}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,32},{106,106}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_focus_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1775},{110,106}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,34},{110,106}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1491},{110,110}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,28},{110,110}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_hurt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1667},{112,106}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,30},{112,106}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_hurt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1250},{116,110}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,25},{116,110}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_hurt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1836},{112,106}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,30},{112,106}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1887},{95,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{95,95}}</string>
                <key>sourceSize</key>
                <string>{101,103}</string>
            </dict>
            <key>h03_lightLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,131},{68,442}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{68,442}}</string>
                <key>sourceSize</key>
                <string>{70,450}</string>
            </dict>
            <key>h03_lightLine1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,131},{462,125}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{462,125}}</string>
                <key>sourceSize</key>
                <string>{462,153}</string>
            </dict>
            <key>h03_lightLine2.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,131},{460,115}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{460,115}}</string>
                <key>sourceSize</key>
                <string>{462,153}</string>
            </dict>
            <key>h03_lightLine3.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{458,127}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{458,127}}</string>
                <key>sourceSize</key>
                <string>{462,153}</string>
            </dict>
            <key>h03_lightLine4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{454,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{454,133}}</string>
                <key>sourceSize</key>
                <string>{462,153}</string>
            </dict>
            <key>h03_lightLine5.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,131},{444,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{444,127}}</string>
                <key>sourceSize</key>
                <string>{462,153}</string>
            </dict>
            <key>h03_lightLine6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{298,129}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,13},{298,129}}</string>
                <key>sourceSize</key>
                <string>{462,153}</string>
            </dict>
            <key>h03_magic2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,792},{160,183}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{160,183}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>h03_magic2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,787},{160,183}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{160,183}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>h03_magic2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,949},{156,183}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{156,183}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>h03_magic2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1107},{154,175}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,21},{154,175}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>h03_magic2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,977},{156,179}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{156,179}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>h03_magic2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,295},{156,199}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{156,199}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>h03_magic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1818},{108,109}}</string>
                <key>offset</key>
                <string>{-6,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,89},{108,109}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>h03_magic_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,595},{154,195}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{154,195}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>h03_magic_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{156,179}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{156,179}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>h03_magic_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,137},{156,199}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{156,199}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>h03_magic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1126},{122,125}}</string>
                <key>offset</key>
                <string>{-5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,89},{122,125}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>h03_magic_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{122,123}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,92},{122,123}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>h03_magic_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{132,145}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,71},{132,145}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>h03_magic_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1071},{134,147}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,70},{134,147}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>h03_magic_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{134,145}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,71},{134,145}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>h03_magic_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,992},{132,145}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,71},{132,145}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>h03_magic_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{160,201}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{160,201}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>h03_magic_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{156,197}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{156,197}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>h03_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1447},{110,110}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,28},{110,110}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1498},{112,110}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,28},{112,110}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1381},{114,108}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,30},{114,108}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1603},{114,106}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,32},{114,106}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1483},{116,106}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,33},{116,106}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1559},{114,106}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,32},{114,106}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_move_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1337},{114,108}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,29},{114,108}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_move_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1472},{112,110}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,28},{112,110}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_skill09_bomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,575},{61,61}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{61,61}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>h03_skill09_bomb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,453},{61,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{61,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>h03_skill09_bomb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,516},{57,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{57,67}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>h03_skill09_pre1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1610},{110,110}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,28},{110,110}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_skill09_pre2.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1263},{108,118}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,21},{108,118}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_skill09_pre3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1222},{122,106}}</string>
                <key>offset</key>
                <string>{36,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,36},{122,106}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_skill09_pre4.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1158},{122,106}}</string>
                <key>offset</key>
                <string>{36,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,36},{122,106}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_skill09_pre5.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,753},{156,100}}</string>
                <key>offset</key>
                <string>{31,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,36},{156,100}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_skill09_pre6.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,575},{176,74}}</string>
                <key>offset</key>
                <string>{37,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,60},{176,74}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_skill09_pre7.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,137},{156,48}}</string>
                <key>offset</key>
                <string>{33,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,87},{156,48}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_skill09_stop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,726},{144,116}}</string>
                <key>offset</key>
                <string>{23,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,21},{144,116}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_skill09_stop10.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1456},{108,116}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,24},{108,116}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_skill09_stop11.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1376},{108,116}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,24},{108,116}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_skill09_stop12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{108,116}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,24},{108,116}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_skill09_stop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,638},{166,116}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,23},{166,116}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_skill09_stop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,940},{146,118}}</string>
                <key>offset</key>
                <string>{35,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,23},{146,118}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_skill09_stop4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{108,118}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,21},{108,118}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_skill09_stop5.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1362},{108,116}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,24},{108,116}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_skill09_stop6.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1346},{108,116}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,24},{108,116}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_skill09_stop7.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1373},{108,116}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,24},{108,116}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_skill09_stop8.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1266},{108,116}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,24},{108,116}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_skill09_stop9.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1263},{108,116}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,24},{108,116}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_wait_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1584},{110,110}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,28},{110,110}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_wait_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1566},{110,110}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,28},{110,110}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_wait_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1722},{112,108}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,30},{112,108}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_wait_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1696},{112,108}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,29},{112,108}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_wait_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1806},{112,106}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,30},{112,106}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_wait_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1678},{112,108}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,29},{112,108}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_wait_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1598},{112,108}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,30},{112,108}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
            <key>h03_wait_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1486},{110,110}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,28},{110,110}}</string>
                <key>sourceSize</key>
                <string>{300,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero3.png</string>
            <key>size</key>
            <string>{918,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:672d29685bd74f3829821d3edd3f8f59$</string>
            <key>textureFileName</key>
            <string>hero3.png</string>
        </dict>
    </dict>
</plist>
