<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h01_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,608},{80,99}}</string>
                <key>offset</key>
                <string>{-13,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,168},{80,99}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,222},{74,117}}</string>
                <key>offset</key>
                <string>{-1,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,150},{74,117}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,318},{78,103}}</string>
                <key>offset</key>
                <string>{5,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,164},{78,103}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,664},{100,119}}</string>
                <key>offset</key>
                <string>{-46,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,166},{100,119}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,563},{98,107}}</string>
                <key>offset</key>
                <string>{-45,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,175},{98,107}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,202},{96,105}}</string>
                <key>offset</key>
                <string>{-44,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,180},{96,105}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,222},{94,93}}</string>
                <key>offset</key>
                <string>{-46,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,174},{94,93}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,800},{56,105}}</string>
                <key>offset</key>
                <string>{-25,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,162},{56,105}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,709},{80,97}}</string>
                <key>offset</key>
                <string>{-13,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,167},{80,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,410},{126,151}}</string>
                <key>offset</key>
                <string>{-15,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,111},{126,151}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,536},{160,175}}</string>
                <key>offset</key>
                <string>{6,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,81},{160,175}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,698},{148,183}}</string>
                <key>offset</key>
                <string>{21,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,91},{148,183}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_dead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,460},{140,155}}</string>
                <key>offset</key>
                <string>{26,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,120},{140,155}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_dead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,525},{104,89}}</string>
                <key>offset</key>
                <string>{45,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,190},{104,89}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_dead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,222},{104,89}}</string>
                <key>offset</key>
                <string>{45,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,190},{104,89}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_focusPre_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,721},{80,97}}</string>
                <key>offset</key>
                <string>{-13,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,168},{80,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_focusPre_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,222},{74,97}}</string>
                <key>offset</key>
                <string>{-9,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,168},{74,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_focus_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,428},{60,113}}</string>
                <key>offset</key>
                <string>{-16,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,152},{60,113}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_focus_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,534},{58,113}}</string>
                <key>offset</key>
                <string>{-17,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,152},{58,113}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,746},{80,97}}</string>
                <key>offset</key>
                <string>{-13,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,167},{80,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_hurt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,656},{78,95}}</string>
                <key>offset</key>
                <string>{-12,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,169},{78,95}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_hurt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,485},{78,95}}</string>
                <key>offset</key>
                <string>{-13,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,169},{78,95}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_hurt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,405},{78,95}}</string>
                <key>offset</key>
                <string>{-12,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,169},{78,95}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,311},{95,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{95,95}}</string>
                <key>sourceSize</key>
                <string>{101,103}</string>
            </dict>
            <key>h01_magic2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,664},{80,100}}</string>
                <key>offset</key>
                <string>{6,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,232},{80,100}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,230},{90,278}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,65},{90,278}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,330}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{218,330}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{208,328}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,14},{208,328}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{188,314}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{188,314}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,322},{172,166}}</string>
                <key>offset</key>
                <string>{4,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,44},{172,166}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{184,206}}</string>
                <key>offset</key>
                <string>{6,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,19},{184,206}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,410},{154,150}}</string>
                <key>offset</key>
                <string>{6,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,51},{154,150}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,686},{156,168}}</string>
                <key>offset</key>
                <string>{5,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,33},{156,168}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,686},{156,168}}</string>
                <key>offset</key>
                <string>{5,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,33},{156,168}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,334},{166,200}}</string>
                <key>offset</key>
                <string>{6,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,32},{166,200}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,423},{100,100}}</string>
                <key>offset</key>
                <string>{-4,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,232},{100,100}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,2},{126,298}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,41},{126,298}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,208},{108,232}}</string>
                <key>offset</key>
                <string>{2,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,132},{108,232}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{258,226}}</string>
                <key>offset</key>
                <string>{-5,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,164},{258,226}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{260,220}}</string>
                <key>offset</key>
                <string>{-4,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,168},{260,220}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{260,216}}</string>
                <key>offset</key>
                <string>{-4,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,173},{260,216}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,2},{260,204}}</string>
                <key>offset</key>
                <string>{-4,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,183},{260,204}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,2},{256,198}}</string>
                <key>offset</key>
                <string>{-6,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,189},{256,198}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,224},{242,150}}</string>
                <key>offset</key>
                <string>{-7,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,240},{242,150}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,220},{236,150}}</string>
                <key>offset</key>
                <string>{-10,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,240},{236,150}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,562},{120,100}}</string>
                <key>offset</key>
                <string>{-14,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,232},{120,100}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,322},{104,136}}</string>
                <key>offset</key>
                <string>{-21,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,196},{104,136}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,594},{104,160}}</string>
                <key>offset</key>
                <string>{-21,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,174},{104,160}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,602},{84,184}}</string>
                <key>offset</key>
                <string>{-11,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,150},{84,184}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,376},{82,198}}</string>
                <key>offset</key>
                <string>{-10,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,136},{82,198}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,318},{90,206}}</string>
                <key>offset</key>
                <string>{-7,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,136},{90,206}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,130},{90,278}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,64},{90,278}}</string>
                <key>sourceSize</key>
                <string>{268,390}</string>
            </dict>
            <key>h01_magic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,507},{80,99}}</string>
                <key>offset</key>
                <string>{-13,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,166},{80,99}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_magic_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,408},{84,97}}</string>
                <key>offset</key>
                <string>{-20,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,167},{84,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_magic_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,321},{82,95}}</string>
                <key>offset</key>
                <string>{-18,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,172},{82,95}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_magic_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,756},{84,97}}</string>
                <key>offset</key>
                <string>{-21,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,171},{84,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_magic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,663},{80,101}}</string>
                <key>offset</key>
                <string>{-18,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,167},{80,101}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_magic_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,616},{88,103}}</string>
                <key>offset</key>
                <string>{-17,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,167},{88,103}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_magic_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,318},{90,95}}</string>
                <key>offset</key>
                <string>{-16,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,170},{90,95}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_magic_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,408},{84,97}}</string>
                <key>offset</key>
                <string>{-20,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,167},{84,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_magic_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,321},{82,95}}</string>
                <key>offset</key>
                <string>{-18,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,172},{82,95}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_magic_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,756},{84,97}}</string>
                <key>offset</key>
                <string>{-21,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,171},{84,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_magic_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,202},{90,107}}</string>
                <key>offset</key>
                <string>{-13,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,165},{90,107}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_magic_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,318},{90,95}}</string>
                <key>offset</key>
                <string>{-16,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,170},{90,95}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,395},{78,97}}</string>
                <key>offset</key>
                <string>{-13,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,167},{78,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,736},{80,97}}</string>
                <key>offset</key>
                <string>{-13,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,167},{80,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,694},{80,97}}</string>
                <key>offset</key>
                <string>{-12,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,167},{80,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,608},{82,97}}</string>
                <key>offset</key>
                <string>{-12,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,167},{82,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,509},{82,97}}</string>
                <key>offset</key>
                <string>{-11,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,167},{82,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,647},{80,97}}</string>
                <key>offset</key>
                <string>{-12,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,167},{80,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_move_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,565},{80,97}}</string>
                <key>offset</key>
                <string>{-13,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,167},{80,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_move_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,557},{80,97}}</string>
                <key>offset</key>
                <string>{-13,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,167},{80,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_wait_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,766},{80,99}}</string>
                <key>offset</key>
                <string>{-13,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,168},{80,99}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_wait_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,475},{80,97}}</string>
                <key>offset</key>
                <string>{-11,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,170},{80,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_wait_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,595},{80,97}}</string>
                <key>offset</key>
                <string>{-10,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,170},{80,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_wait_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,410},{82,97}}</string>
                <key>offset</key>
                <string>{-9,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,170},{82,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_wait_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,496},{80,97}}</string>
                <key>offset</key>
                <string>{-10,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,170},{80,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_wait_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,397},{80,97}}</string>
                <key>offset</key>
                <string>{-11,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,170},{80,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_wait_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,766},{82,99}}</string>
                <key>offset</key>
                <string>{-12,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,168},{82,99}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_wait_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,766},{80,99}}</string>
                <key>offset</key>
                <string>{-13,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,168},{80,99}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_wait_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,766},{80,99}}</string>
                <key>offset</key>
                <string>{-13,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,168},{80,99}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_wait_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,766},{80,99}}</string>
                <key>offset</key>
                <string>{-13,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,168},{80,99}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_wait_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,313},{80,97}}</string>
                <key>offset</key>
                <string>{-13,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,170},{80,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_wait_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,298},{80,97}}</string>
                <key>offset</key>
                <string>{-13,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,170},{80,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_wait_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,311},{80,97}}</string>
                <key>offset</key>
                <string>{-13,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,170},{80,97}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_wait_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,766},{80,99}}</string>
                <key>offset</key>
                <string>{-13,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,168},{80,99}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_wait_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,766},{80,99}}</string>
                <key>offset</key>
                <string>{-13,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,168},{80,99}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_wait_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,766},{80,99}}</string>
                <key>offset</key>
                <string>{-13,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,168},{80,99}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>h01_wait_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,376},{82,99}}</string>
                <key>offset</key>
                <string>{-12,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,168},{82,99}}</string>
                <key>sourceSize</key>
                <string>{194,285}</string>
            </dict>
            <key>tornado_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,460},{196,140}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{196,140}}</string>
                <key>sourceSize</key>
                <string>{202,150}</string>
            </dict>
            <key>tornado_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,602},{196,138}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{196,138}}</string>
                <key>sourceSize</key>
                <string>{202,150}</string>
            </dict>
            <key>tornado_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,490},{194,138}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{194,138}}</string>
                <key>sourceSize</key>
                <string>{202,150}</string>
            </dict>
            <key>tornado_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,490},{194,144}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{194,144}}</string>
                <key>sourceSize</key>
                <string>{202,150}</string>
            </dict>
            <key>tornado_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,602},{162,144}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{162,144}}</string>
                <key>sourceSize</key>
                <string>{202,150}</string>
            </dict>
            <key>tornado_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,372},{160,142}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{160,142}}</string>
                <key>sourceSize</key>
                <string>{202,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero1.png</string>
            <key>size</key>
            <string>{2016,867}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22564af41ebf5baa6f31f0c02408756a$</string>
            <key>textureFileName</key>
            <string>hero1.png</string>
        </dict>
    </dict>
</plist>
